@import "../utilities/functions";
.converter {
  &__numberToCal {
    @include font(14px, 400);
  }
  &__input {
    color: $fouthColor;
    background-color: $firstColor;
    border-bottom: 2px solid $fouthColor;
    @include sizeBox(70%, empty());
    @include marginExact(16px, 10px, 0, 12px);
    @include font(14px, 400);
    @include desktopAll() {
      @include marginExact(19px, 0, 0, 38px);
      @include sizeBox(35%, empty());
    }
  }
  &__calcule {
    @include flexible(flex, space-between, empty(), empty(), empty());
    @include marginExact(19px, 35px, 0,0);

    &--favourite {
      background-color: $firstColor;
      @include marginExact(0, 0, 0, 12px);
      @include desktopAll() {
        @include marginExact(0, 0, 0, 38px);
      }
    }
  }
  &__result {
    @include flexible(flex, empty(), empty(), empty(), empty());
    @include padding(0,0,0,50px);
    &--title {
      @include font(24px, 700);
    }
    &--measureTo {
      @include font(16px, 700);
      @include marginExact(8px, 0, 0, 12px);
    }
  }
}
